@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
   div .barea{
      
     
        border-left:1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top:10px;
    }


</style>
 
<div    >
    <h1>房屋列表</h1>
</div>
<form>
    <div class="row col-md-8 barea">
        <div class="row " style="padding-top:10px;">
       
            <div class="col-md-2" style="text-align:right" ><label>房名</label></div>
        <div class="col-md-4"><input type="text" class="form-control" id="houseName" name="houseName"></div>
            <div class="col-md-2" style="text-align:right"><label>房屋Id</label></div>

        <div class="col-md-4"><input type="text" class="form-control" id="houseId" name="houseId"></div>
             
        </div>
        <div class="row " style="padding-top:10px;">

            <div class="col-md-12" style="text-align:center"> <button type="button"  onclick="getHouseList()" class="btn btn-primary">查詢</button></div>
          

        </div>
    </div>
</form>
    <div class="row col-md-8 barea">
    <table id="table"></table>
     


     </div>
   <script>

   


    function pageInit() {
           

        $('#table').bootstrapTable({
            toolbar: "#toolbar",
            columns: [ //欄位設定
                { field: 'houseId', title: '房屋代號', align: 'center', },
                { field: 'houseName', title: '房屋名稱', align: 'center'  },
                {
                    field: 'houseSize', title: '房屋坪數', align: 'left', formatter: function (val) {
                        return val + "坪";
                    }
                },
                { field: 'housePrice', title: '房屋價格', align: 'left', formatter: function (val) {
                    return val+"萬";
                } },

            ],
            classes: 'table',
            data: {},//所有資料
            // uniqueId: '', //哪一個欄位是key
            // sortName: '', //依照那個欄位排序
            // height: 450,
              pagination: true, //使否要分頁

            // //可於ToolBar上顯示的按鈕
            // showColumns: true, //顯示/隱藏哪些欄位
            // showToggle: false, //名片式/table式切換
            // showPaginationSwitch: false, //分頁/不分頁切換
            // showRefresh: true, //重新整理
            // search: false, //查詢

            
             pageSize: 10, //一頁顯示幾筆
             pageList: [10, 20, 50, 100], //一頁顯示幾筆的選項

            formatRecordsPerPage: function (pageSize) {
                return '&nbsp;&nbsp;每頁顯示' + pageSize + '筆';
            },
            formatShowingRows: function (fromIndex, toIndex, totalSize) {
                //目前第幾頁
                var currentPage = Math.ceil(fromIndex / this.pageSize);
                //總共幾頁
                var totalPageCount = Math.ceil(totalSize / this.pageSize);
                return '第' + currentPage + '頁&nbsp;&nbsp;共' + totalPageCount + '頁';
            }
        });


       }

       function getHouseList() {
        const data = {
            HouseName: $("#houseName").val(),
            HouseId: $("#houseId").val(),
        }
 

        console.log(data);
        $.ajax({
            url: "Home/GetHouseList",
            method: "POST",
            dataType: "json",
            data: data,
            success: function (data) {
                // 成功
                console.log(data);
 
                $('#table').bootstrapTable('load', data);
            },
            error: function (xhr, status, error) {
                // 失敗
            }
        });
       }
    $(document).ready(function () {
        pageInit();
    });
   
   </script>


